<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.source.code.activity">

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SCOS1.0"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SCOSEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:exported="true"
            android:permission="scos.permission.ACCESSSCOS">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="scos.intent.category.SCOSLAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginOrRegister"> </activity>
        <activity android:name=".FoodView" > </activity>
        <activity
            android:name=".FoodDetailed"
            android:exported="true">
        </activity>
        <activity android:name=".FoodOrderView" > </activity>
    </application>

</manifest>